.blockOne {
  padding-left: 10px;
  height: 50%;
}
.blockTwo {
  padding-top: 10px;
  height: 50%;
}

.imageGalleryContainer {
  width: 80%;
  display: flex;
}

.cardBooking {
  background-color: #000;
}

.rateFontSize {
  font-size: 13px;
}