.blockOne {
  padding-left: 10px;
  height: 50%;
}
.blockTwo {
  padding-top: 10px;
  height: 50%;
}

.imageGalleryContainer {
  width: 80%;
  display: flex;
}

.cardBooking {
  background-color: #000;
}

.rateFontSize {
  font-size: 13px;
}

.buttonCheckout {
  background: radial-gradient(circle at center,#FF385C 0%,#E61E4D 27.5%,#E31C5F 40%,#D70466 57.5%,#BD1E59 75%,#BD1E59 100%);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none; 
}

.inputDate { 
  border: none;
  background-color: #fff;
}

