.searchLocation {
  padding-left: 22px;
}

.searchTitle {
  font-size: 12px;
  font-weight: bold;
}

.searchInput {
  border: none;
  font-size: 14px;
  padding-left: 0px;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  border: none;
  color: #fff;
  background: #FF385C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  right: 0;
}

.hrSpace {
  margin-top: 20px;
  border: 0.1px solid #a6a8ab;
}