.container {
  width: 100%;
  height: auto;
  // background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.frameItem {
}

.imageItem {
  width: 280px;
  height: 260px;
  border-radius: 15px;
}

.contentItem {
  margin-top: 13px;
}

.link {
  text-decoration: none;
  color: #000;
}